$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';
@import url(http://fonts.googleapis.com/css?family=Share+Tech);

// Component styles are injected through grunt
// injector
@import 'main/main.scss';
// endinjector



/**
 * Bootstrap Fonts
 */

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot');
    src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

/**
 *Font Awesome Fonts
 */

@font-face {
    font-family: 'FontAwesome';
    src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.1.0');
    src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
    url('../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),
    url('../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
    url('../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
body{
    color:rgba(255,255,255,0.6)!important;
}
.wrapper{
    /*background-color:#2B3A4A;*/
    background-color:#2B3A4A;
    height:100%;
    margin:0 auto;
    overflow:hidden;
    positiion:absolute;
    width:480px;
}
.head{
    background-color:rgba(0,0,0,0.15);
    color:#fff!important;
    text-align:center;
}
.head .text{
    margin:0 auto;
    opacity:0.6;
    padding:5px 0;
}
$circle:260px;
.circle-wrap{
    position:relative;
    height:360px;
}
.circle{
    background-image:url("main/images/noise.png");
    border:10px solid rgba(0,0,0,0.2);
    border-radius:130px;
    box-shadow: 0 0 1px 1px #16B0D1 inset, 0 2px 8px 1px #000 inset;
    height:$circle;
    margin:50px 120px;
    position:absolute;
	text-align:center;
    width:$circle;
    .time{
    	color:rgba(255,255,255,0.8);
        font-family: 'Share Tech', sans-serif;
    	font-size:80px;
    	margin-top:60px;
        text-shadow:0 4px 8px #000;
    }
    .status{
    	color:rgba(255,255,255,0.15);
    	font-size:24px;
    }
}

.dot-wrap{
    border:10px solid rgba(0,0,0,0);
    margin:50px 120px;
    height:$circle;
    width:$circle;
    position:absolute;
    border-radius:130px;
}
.dot{
    position:absolute;
    left:120px;
    top:-4px;
    border-radius:20px;
}
.dot.false{
    background-color:#5AD3F2;
    height:10px;
    width:10px;
}
.dot.true{
    background-color:#EAB847;
    height:10px;
    width:10px;
}
.dot.red{
    background-color:#EC5757;
    height:10px;
    width:10px;
}

.dot.selected{
    width:20px!important;
    height:20px!important;
}
.bar-wrap{
	position:relative;
    height:56px;
}
.bar {
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    display:block;
    float:none;
    height:40px;
    line-height:24px;
    position:relative;
    padding:2px;
    z-index:100;
    .train-type{
        border-radius:5px;
        color:#fff;
    	left:0;
        margin: 4px 0 4px 10px;
    	position:absolute;
        padding:2px 4px;
    }
    .train-type.normal{background-color:transparent;}
    .train-type.rapid{background-color:#2AB841;}
    .time-to-station{
        background-color:rgba(0,0,0,0.1);
        border-radius:25px;
        font-family: 'Share Tech', sans-serif;
        font-size:24px;
        letter-spacing:2px;
        margin-right:2px;
        padding:6px 16px;
    	position:absolute;
        right:0;
    }
}

.delayed-time{
    position:absolute;
    right:10px;
    top:12px;
    z-index:200;
}
.bg-line{
    border-top:3px solid rgba(0,0,0,0.15);
    border-bottom:3px solid rgba(0,0,0,0.15);
    height:1px;
    position:absolute;
    top:18px;
    width:85%;
    z-index:10;
}
.bg-right-circle{
    border:6px solid rgba(0,0,0,0.15);
    border-radius:20px;
    height:30px;
    left:85%;
    position:absolute;
    top:5px;
    width:30px;
    z-index:20;
}
.bar.false{background-color:#6AD7F3;}
.bar.true{background-color:#EAB847;}

nav{
	display:table;
    table-layout:fixed;
	position:relative;
	width:100%;
}
.menu{
    box-shadow:0 2px 1px #000 inset;
    color:rgba(255,255,255,0.6);
    display:table-cell;
    .inner{
    	margin-right:1px;
    	padding:20px 0;
    	text-align:center;
    	width:auto;
    	background-color:rgba(0,0,0,0.15);
    }
}
