$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';
@import url(http://fonts.googleapis.com/css?family=Share+Tech);
@import url(http://fonts.googleapis.com/css?family=PT+Mono);

// Component styles are injected through grunt
// injector
@import 'main/main.scss';
// endinjector



$circle:280px;
$mainColor :#2B3A4A;
$actionColor : #28C3F2;


/**
 * Bootstrap Fonts
 */

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot');
    src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

/**
 *Font Awesome Fonts
 */

@font-face {
    font-family: 'FontAwesome';
    src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.1.0');
    src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
    url('../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),
    url('../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
    url('../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**
 * App-wide Styles
 */
.kurukuru{
    bottom:80px;
    color:rgba(0,0,0,0.2);
    font-family: 'Share Tech', sans-serif;
    font-size:32px;
    margin:0 auto;
    position:fixed;
    text-align:center;
    width:100%;
}
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
body{
    color:rgba(255,255,255,0.6)!important;
    background-color:$mainColor;
}
.wrapper{
    background-color:$mainColor;
    border-radius:5px;
    border:1px solid $mainColor;
    box-shadow:0 0 5px #000;
    height:100%;
    margin:20px auto;
    overflow:hidden;
    position:relative;
    width:480px;
    z-index:1;
}

.m{color:#FF243A;}/*MarunouchiBranch*/
.G{color:#FF9700;}/*Ginza*/
.M{color:#FF243A;}/*Marunouti*/
.H{color:#DFEDF5;}/*Hibiya*/
.T{color:#00C5FF;}/*Tozai*/
.C{color:#00CD30;}/*Chiyoda*/
.Y{color:#F2D500;}/*Yurakucho*/
.Z{color:#9926FF;}/*Hanzomon*/
.N{color:#25E0D7;}/*Nanboku*/
.F{color:#EC5B00;}/*Fukutoshin*/

.head{
    background-color:rgba(0,0,0,0.15);
    color:#fff!important;
    text-align:center;
    .text{
        margin:0 auto;
        opacity:0.6;
        padding:5px 0;
    }
    .fa{
        font-weight:bold;
        font-size:20px;
    }
}
.min30{
    height:31px;
    margin: -14px 0 0 35%;
    position: absolute;
    opacity:0.3;
    width:68px;
    z-index:3000;
    img{
        height:31px;
        width:68px;
    }
}
.point{
    position:absolute;
    left: 0;
    right: 0;
    opacity:0.3;
    margin: auto;
    height:9px;
    width:13px;
    z-index:1000;
    img{
        height:9px;
        width:13px;
    }
}
.point.top{
    top: -6px;
}
.point.bottom{
    transform:rotate(180deg);
    bottom: -6px;
}
.ab{
    color:#000;
    font-family: 'PT Mono';
    font-weight:bold;
    height: $circle/2+20;
    left: 0;
    margin:-17px auto 0;
    opacity:0.8;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: bottom center;
    width:10px;
    z-index:500;
}
 
.ab-n{transform:rotate(-5deg);}
.ab-i{transform:rotate(-9deg);}
.ab-m{transform:rotate(-13deg);}
.ab-0{transform:rotate(-17deg);}
.ab-3{transform:rotate(-21deg);}
.ab-fa{transform:rotate(-25deg);}

.ab-20{transform:rotate(-120deg);}
.ab-15{transform:rotate(180deg);}
.ab-10{transform:rotate(120deg);}
.ab-5{transform:rotate(61deg);}


.ab-arrow{
    color:#000;
    font-size:27px;
    line-height:0;
    opacity:0.6;
    height: $circle/2+15;
    position: absolute;
    left: 0;
    right: 0;
    top: -15px;
    margin:0 auto;
    transform-origin: bottom center;
    width:10px;
    z-index:500;
}

.ar1{transform:rotate(0deg);color:#EC4478;opacity:1;}
.ar2{transform:rotate(60deg);}
.ar3{transform:rotate(120deg);}
.ar4{transform:rotate(180deg);}
.ar5{transform:rotate(240deg);}
.ar6{transform:rotate(300deg);}


.circle-wrap{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}


.circle{
    background-image:url("/assets/images/noise.png");
    border:10px solid darken($mainColor,6%);
    border-radius: $circle/2;
    box-shadow: 0 0 1px 1px #16B0D1 inset, 0 2px 8px 1px #000 inset;
    height:$circle;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding:50px 0;
    margin: 80px auto;
	text-align:center;
    width:$circle;
    .traintype{
        color:rgba(255,255,255,0.15);
        font-size:24px;
        line-height:24px;
    }
    .traintype.rapid{color:rgba(255,255,255,0.5);}
    .time{
    	color:rgba(255,255,255,1);
        font-family: 'Share Tech', sans-serif;
    	font-size:80px;
        line-height:100px;
        margin-top:6px;
        text-shadow:0 4px 8px #000;
    }
    .status{
    	color:rgba(255,255,255,0.15);
    	font-size:24px;
        line-height:24px;
        margin-top:6px;
    }
}

.dot-container{
    list-style-type : none;
}
.dot-wrap{
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: $circle/2-5;
    position: absolute;
    transform-origin: bottom center;
    width:10px;
    z-index:1100;
}
/*.dot-wrap{
}*/
.dot{
    position:absolute;
    left:0;
    top:-5px;
    border-radius:20px;
    z-index:5000;
}
.dot.false{
    background-color:$actionColor;
    height:24px;
    width:24px;
}
.dot.rapid{
    background-color:$actionColor;
    border:2px solid $mainColor;
    box-shadow: 0 0 0 2px #1FA432;
}
.dot.timetable {
    background-color:#CCC;
}
.dot.true{
    background-color:#ECB144;
    height:24px;
    width:24px;
}


.dot.active{
    height:30px;
    width:30px;
    top:-9px;
    border:3px solid $mainColor;
    box-shadow:0 0 0 3px $actionColor;
}

.dot.active.rapid{    
    border:3px solid $mainColor;
    box-shadow:0 0 0 3px #5FD07D;
}


nav{
    position:fixed;
	display:table;
    table-layout:fixed;
	width:480px;
    z-index:1000;
}
.menu{
    box-shadow:0 1px 3px darken($mainColor,30%) inset;
    color:rgba(255,255,255,0.6);
    display:table-cell;
    .inner{
    	margin-right:1px;
    	text-align:center;
    	width:auto;
    	background-color:rgba(0,0,0,0.15);
    }
}
.selectpicker{
    background-color:transparent!important;
    border-radius:0px!important;
    border:0px!important;
    box-shadow:none!important;
    color:#bbb!important;
    font-size:16px;
    height:50px!important;
    line-height:28px!important;
    padding:0 20px!important;
    width:100%!important;
}

/*********\
Loading 
\*********/
.loading{

    height:100%;
    /*position:absolute;*/
    top:0;
    left:0;
    width:100%;
    z-index:2000;
    padding:40px 0;
    .fa{
        color:#fff;
        font-size:40px;
    }

    .circle{
        background-image:url("/assets/images/noise.png");
        border:10px solid rgba(0,0,0,0.2);
        border-radius:$circle/2;
        box-shadow: 0 0 1px 1px #16B0D1 inset, 0 2px 8px 1px #000 inset;
        height:$circle;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        padding:50px 0;
        margin: 40px auto;
        text-align:center;
        width:$circle;
        .load-text{
            color:rgba(255,255,255,0.8);
            font-family: 'Share Tech', sans-serif;
            font-size:30px;
            margin:50px 0 0 20px;
            text-shadow:0 4px 8px #000;
        }
    }

}
.load {
    height: $circle/2-5;
    left: 0;
    right: 0;
    top: 5px;
    transform-origin: bottom center;
    width:10px;
    z-index:1100;

    position: absolute;
    margin: 0 auto;
    -webkit-animation-duration: 3000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-duration: 3000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-duration: 3000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.loadingdot{
    z-index:200;
    position:absolute;
    top:-4px;
    border-radius:20px;
    background:#289DC7;
    width:16px;
    height:16px;
}
.spin1{
    -webkit-animation-name: spin;
    -moz-animation-name: spin;
    -ms-animation-name: spin;
    animation-name: spin;
}
.spin2 {
    -webkit-animation-name: spin2;
    -moz-animation-name: spin2;
    -ms-animation-name: spin2;
    animation-name: spin2;
}
.spin3 {
    -webkit-animation-name: spin3;
    -moz-animation-name: spin3;
    -ms-animation-name: spin3;
    animation-name: spin3;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(-360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(-360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(-360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(-360deg);}
}
@-ms-keyframes spin2 {
    from { -ms-transform: rotate(120deg); }
    to { -ms-transform: rotate(-240deg); }
}
@-moz-keyframes spin2 {
    from { -moz-transform: rotate(120deg); }
    to { -moz-transform: rotate(-240deg); }
}
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(120deg); }
    to { -webkit-transform: rotate(-240deg); }
}
@keyframes spin2 {
    from {transform:rotate(120deg);}
    to {transform:rotate(-240deg);}
}
@-ms-keyframes spin3 {
    from { -ms-transform: rotate(240deg); }
    to { -ms-transform: rotate(-120deg); }
}
@-moz-keyframes spin3 {
    from { -moz-transform: rotate(240deg); }
    to { -moz-transform: rotate(-120deg); }
}
@-webkit-keyframes spin3 {
    from { -webkit-transform: rotate(240deg); }
    to { -webkit-transform: rotate(-120deg); }
}
@keyframes spin3 {
    from {transform:rotate(240deg);}
    to {transform:rotate(-120deg);}
}

@media only screen and (device-width: 768px) and (orientation: landscape) {
  /* rules for iPad in landscape orientation */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* iPhone, Android rules here */
  .wrapper{
    width:100%;
    margin:0;
    border:0px solid #000;
    box-shadow:none!important;
  }

  nav{
    width:100%;
    position:fixed;
    bottom:0;
  }

    .list-wrap{
        position:relative;
        overflow-x:hidden;
        overflow-y:scroll;
        height:40%;
        margin-top:80%;
    }
}
