$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';
@import url(http://fonts.googleapis.com/css?family=Share+Tech);

// Component styles are injected through grunt
// injector
@import 'main/main.scss';
// endinjector



/**
 * Bootstrap Fonts
 */

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot');
    src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

/**
 *Font Awesome Fonts
 */

@font-face {
    font-family: 'FontAwesome';
    src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.1.0');
    src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
    url('../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),
    url('../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
    url('../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
body{
    color:rgba(255,255,255,0.6)!important;
    background-color:#2B3A4A;
}
.wrapper{
    background-color:#2B3A4A;
    border-radius:5px;
    border:1px solid #2B3A4A;
    box-shadow:0 0 5px #000;
    height:100%;
    margin:20px auto;
    overflow:hidden;
    position:relative;
    width:480px;
    z-index:1;
}
.head{
    background-color:rgba(0,0,0,0.15);
    color:#fff!important;
    text-align:center;
}
.head .text{
    margin:0 auto;
    opacity:0.6;
    padding:5px 0;
}
$circle:260px;
.circle-wrap{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    /*bottom: 0;*/
    margin: auto;
    height:40%;
}

.circle{
    background-image:url("/assets/images/noise.png");
    border:10px solid rgba(0,0,0,0.2);
    border-radius:130px;
    box-shadow: 0 0 1px 1px #16B0D1 inset, 0 2px 8px 1px #000 inset;
    height:$circle;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding:50px 0;
    /*bottom: 0;*/
    margin: 40px auto;
	text-align:center;
    width:$circle;
    .time{
    	color:rgba(255,255,255,0.8);
        font-family: 'Share Tech', sans-serif;
    	font-size:80px;
    	margin-top:10px;
        text-shadow:0 4px 8px #000;
    }
    .status{
    	color:rgba(255,255,255,0.15);
    	font-size:24px;
        line-height:24px;
    }
}

.dot-wrap{
    border:10px solid rgba(0,0,0,0);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /*bottom: 0;*/
    margin: 0 auto;
    height:$circle;
    width:$circle;
    border-radius:130px;
}
.dot{
    position:absolute;
    left:120px;
    top:-4px;
    border-radius:20px;
}
.dot.false{
    background-color:#5AD3F2;
    height:10px;
    width:10px;
}
.dot.true{
    background-color:#EAB847;
    height:10px;
    width:10px;
}
.dot.red{
    background-color:#EC5757;
    height:10px;
    width:10px;
}

.dot.selected{
    width:20px!important;
    height:20px!important;
}
.bar-wrap{
	position:relative;
    height:56px;
}
.bar {
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    display:block;
    float:none;
    height:40px;
    line-height:24px;
    position:relative;
    padding:2px;
    z-index:100;
    .train-type{
        border-radius:5px;
        color:#fff;
    	left:0;
        margin: 4px 0 4px 10px;
    	position:absolute;
        padding:2px 4px;
    }
    .train-type.normal{background-color:transparent;}
    .train-type.rapid{background-color:#2AB841;}
    .time-to-station{
        background-color:rgba(0,0,0,0.1);
        border-radius:25px;
        font-family: 'Share Tech', sans-serif;
        font-size:24px;
        letter-spacing:2px;
        margin-right:2px;
        padding:6px 16px;
    	position:absolute;
        right:0;
    }
}

.delayed-time{
    color:#FF3D51;
    font-size:12px;
    position:absolute;
    right:20px;
    top:12px;
    z-index:200;
}
.bg-line{
    border-top:3px solid rgba(0,0,0,0.15);
    border-bottom:3px solid rgba(0,0,0,0.15);
    height:1px;
    position:absolute;
    top:18px;
    width:85%;
    z-index:10;
}
.bg-right-circle{
    border:6px solid rgba(0,0,0,0.15);
    border-radius:20px;
    height:30px;
    left:85%;
    position:absolute;
    top:5px;
    width:30px;
    z-index:20;
}
.bar.false{background-color:#6AD7F3;}
.bar.true{background-color:#EAB847;}

nav{
    position:fixed;
	display:table;
    table-layout:fixed;
	width:480px;
    z-index:1000;
}
.menu{
    box-shadow:0 2px 1px #000 inset;
    color:rgba(255,255,255,0.6);
    display:table-cell;
    .inner{
    	margin-right:1px;
    	text-align:center;
    	width:auto;
    	background-color:rgba(0,0,0,0.15);
    }
}
.selectpicker{
    background-color:transparent!important;
    border-radius:0px!important;
    border:0px!important;
    box-shadow:none!important;
    color:#bbb!important;
    font-size:16px;
    height:50px!important;
    line-height:28px!important;
    padding:0 20px!important;
    width:100%!important;
}

/*********\
Loading 
\*********/
.loading{

    background-color:rgba(0,0,0,0.2);
    height:100%;
    /*position:absolute;*/
    top:0;
    left:0;
    width:100%;
    z-index:2000;
    padding:40px 0;
    .fa{
        color:#fff;
        font-size:40px;
    }
    .spinner{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width:10%;
        height:10%;
    }

    .circle{
        background-image:url("/assets/images/noise.png");
        border:10px solid rgba(0,0,0,0.2);
        border-radius:130px;
        box-shadow: 0 0 1px 1px #16B0D1 inset, 0 2px 8px 1px #000 inset;
        height:$circle;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        padding:50px 0;
        margin: 0px auto;
        text-align:center;
        width:$circle;
        .load-text{
            color:rgba(255,255,255,0.8);
            font-family: 'Share Tech', sans-serif;
            font-size:30px;
            margin:50px 0 0 20px;
            text-shadow:0 4px 8px #000;
        }
    }

    .dot-wrap{
        border:10px solid rgba(0,0,0,0);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        height:$circle;
        width:$circle;
        border-radius:130px;
    }
    .dot1{transform:rotate(180deg);}
    .dot{
        position:absolute;
        left:120px;
        top:-4px;
        border-radius:20px;
    }
}
.load {
    -webkit-animation-duration: 3000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-duration: 3000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-duration: 3000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.spin1{

    -webkit-animation-name: spin;
    -moz-animation-name: spin;
    -ms-animation-name: spin;
    animation-name: spin;
}
.spin2 {
    -webkit-animation-name: spin2;
    -moz-animation-name: spin2;
    -ms-animation-name: spin2;
    animation-name: spin2;
}
.spin3 {
    -webkit-animation-name: spin3;
    -moz-animation-name: spin3;
    -ms-animation-name: spin3;
    animation-name: spin3;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(-360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(-360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(-360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(-360deg);}
}
@-ms-keyframes spin2 {
    from { -ms-transform: rotate(120deg); }
    to { -ms-transform: rotate(-240deg); }
}
@-moz-keyframes spin2 {
    from { -moz-transform: rotate(120deg); }
    to { -moz-transform: rotate(-240deg); }
}
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(120deg); }
    to { -webkit-transform: rotate(-240deg); }
}
@keyframes spin2 {
    from {transform:rotate(120deg);}
    to {transform:rotate(-240deg);}
}
@-ms-keyframes spin3 {
    from { -ms-transform: rotate(240deg); }
    to { -ms-transform: rotate(-120deg); }
}
@-moz-keyframes spin3 {
    from { -moz-transform: rotate(240deg); }
    to { -moz-transform: rotate(-120deg); }
}
@-webkit-keyframes spin3 {
    from { -webkit-transform: rotate(240deg); }
    to { -webkit-transform: rotate(-120deg); }
}
@keyframes spin3 {
    from {transform:rotate(240deg);}
    to {transform:rotate(-120deg);}
}

@media only screen and (device-width: 768px) and (orientation: landscape) {
  /* rules for iPad in landscape orientation */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* iPhone, Android rules here */
  .wrapper{
    width:100%;
    margin:0;
    border:0px solid #000;
    box-shadow:none!important;
  }

  nav{
    width:100%;
    position:fixed;
    bottom:0;
  }

    .list-wrap{
        position:relative;
        overflow-x:hidden;
        overflow-y:scroll;
        height:40%;
        margin-top:80%;
    }
}
