<div class="wrapper">
    <div class="head">
        <div class="text">{{selectedStation['dc:title']}} : {{selectedDirection['dc:title']}} 方面</div>
    </div>
    <div class="circle-wrap">
        <div class="circle">
            <div class="time">{{nearbyTrainList[0]['timeToCurrentStation']}}</div>
            <div class="status">{{nearbyTrainList[0]['delayStatusCopy']}}</div>
        </div>

        <div class="dot-wrap" ng-style="{'transform': train.dotRotate}" ng-repeat="train in nearbyTrainList | filter:in30mins">
            <div class="dot {{train.delayStatus}}"></div>
        </div>

    </div>

    <div class="list" ng-repeat="train in nearbyTrainList | filter:in30mins ">
        <div class="bar-wrap">
            <div class="content bar {{train.delayStatus}}" ng-style="{{train.barWidth}}">
                <div class="train-type {{train.trainTypeCss}}">{{train.trainType}}</div>
                <div class="time-to-station">{{train.timeToCurrentStation}}</div>
            </div>
            <div class="delayed-time" ng-show="train.delayStatus">
                {{train.delayStatusCopy}}
            </div>
            <div class="bg-line"></div>
            <div class="bg-right-circle"></div>
        </div>
    </div>

    <div class="">
      <div class="row">
        <div class="col-sx-12">
          <ul class="nav nav-tabs nav-stacked col-sm-12">
            <li ng-repeat="train in trains">
                <a href="#"  style="color:red" tooltip="{{train['odpt:fromStation']}}">{{train['odpt:fromStation']}} : {{train['odpt:delay']}}</a>
                <a href="#" tooltip="{{train['odpt:fromStation']}}">{{train['odpt:toStation']}} : {{train['odpt:delay']}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <nav>
        <div id="" class="menu">
          <div id="selected-railway" class="inner">
            <select class="selectpicker" style="color:black" ng-model="selectedRailway" ng-options="railway['dc:title'] for railway in railways"></select>
          </div>
        </div>
        <div id="" class="menu">
          <div id="selected-station" class="inner">
            <select class="selectpicker" style="color:black" ng-selected="showDirectionMenu()" ng-model="selectedStation" ng-options="station['dc:title'] for station in selectedRailway['odpt:stationOrder']"></select>
          </div>
        </div>
        <div id="" class="menu">
            <div id="selected-destination" class="inner">
                <select class="selectpicker" style="color:black" ng-model="selectedDirection" ng-options="direction['dc:title'] for direction in directions"></select>
            </div>
        </div>
    </nav>
</div>


