<div class="wrapper">
    <div class="head">
        <div class="text"><i class="fa fa-circle-o {{selectedRailway['odpt:lineCode']}}"></i> {{selectedRailway['dc:title']}}線　{{currentStation['dc:title']}}駅 ( {{currentDirection['dc:title']}} 方面 )</div>
    </div>
    <div ng-show="loading">

        <div class="circle-wrap">

            <div class="circle">
                <div class="traintype {{nearbyTrainList[selectedTrain]['trainTypeCss']}}">{{nearbyTrainList[selectedTrain]['trainType']}}</div>
                <div class="time">{{nearbyTrainList[selectedTrain]['timeToCurrentStation']}}</div>
                <div class="status">{{nearbyTrainList[selectedTrain]['delayStatusCopy']}}</div>
            </div>
            <ul class="dot-container" style="">
                <li class="dot-wrap" ng-style="{'transform': train.dotRotate}" ng-repeat="train in nearbyTrainList">
                    <div class="dot {{train.delayStatus}} {{train.trainTypeCss}}"  ng-click="changeCenter($index)" ng-class="{ 'active': $index == selectedIndex }"></div>
                </li>
            </ul>

            <div class="ab ab-n">n</div>
            <div class="ab ab-i">i</div>
            <div class="ab ab-m">m</div>
            <div class="ab ab-0">0</div>
            <div class="ab ab-3">3</div>
            <div class="ab ab-fa"><i class="fa fa-caret-left"></i></div>
            <div class="ab ab-20">20</div>
            <!-- <div class="ab ab-15">15</div> -->
            <div class="ab ab-10">10</div>
            <div class="ab ab-5">5</div>

            <div class="ab-arrow ar1"><i class="fa fa-sort-desc"></i></div>
            <div class="ab-arrow ar2"><i class="fa fa-sort-desc"></i></div>
            <div class="ab-arrow ar3"><i class="fa fa-sort-desc"></i></div>
            <!-- <div class="ab-arrow ar4"><i class="fa fa-sort-desc"></i></div> -->
            <div class="ab-arrow ar5"><i class="fa fa-sort-desc"></i></div>
            <!-- <div class="ab-arrow ar6"><i class="fa fa-sort-desc"></i></div> -->

        </div>
        <nav>
            <div id="" class="menu">
              <div id="selected-railway" class="inner">
                <select class="selectpicker form-control" style="color:black" ng-model="selectedRailway" ng-options="railway['dc:title'] for railway in railways"></select>
              </div>
            </div>
            <div id="" class="menu">
              <div id="selected-station" class="inner">
                <select class="selectpicker form-control" style="color:black" ng-selected="onStationSelected()" ng-model="selectedStation" ng-options="station['dc:title'] for station in selectedRailway['odpt:stationOrder']"></select>
              </div>
            </div>
            <div id="" class="menu">
                <div id="selected-direction" class="inner">
                    <select class="selectpicker form-control" style="color:black" ng-selected="onDirectionSelected()" ng-model="selectedDirection" ng-options="direction['dc:title'] for direction in directions"></select>
                </div>
            </div>
        </nav>
    </div>
    
    <div class="loading" ng-hide="loading">
        <div class="circle-wrap" >
            <div class="circle">
                <div class="load-text">Loading...</div>
            </div>
            <div class="load spin1">
                <div class="loadingdot false"></div>
            </div>
            <div class="load spin2">
                <div class="loadingdot false"></div>
            </div>
            <div class="load spin3">
                <div class="loadingdot false"></div>
            </div>
        </div>
    </div>
</div>


